@model DexterLab.Models.ViewModels.BookingVM

@{
    ViewBag.Title = "BookPhysicalDevice";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}
@if (TempData["Failure"] != null)
{
    <div class="alert alert-danger">
        @TempData["Failure"]
    </div>
}

<h2 class="text-center block text-gray-700 font-bold mb-2">Book Your Device</h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-full mx-auto w-full max-w-full sm:max-w-screen-xs  md:max-w-screen-xs lg:max-w-screen-md lg:mt-5 bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 w-full max-w-full">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group mx-auto">
        <label class="control-label block text-gray-700 text-lg font-bold mb-2"> Device Name</label>
        <div class="mb-6 mx-auto">
            @*@Html.EditorFor(model => model.DeviceName, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DropDownListFor(model => model.DeviceName, new List<SelectListItem>
            {
               new SelectListItem { Text = "Palo Alto", Value = "Palo Alto", Selected=true},
               new SelectListItem { Text = "ChecPoint", Value = "ChecPoint"}
            }, new { @class = "w-full max-w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight  focus:bg-white focus:shadow-outline focus:border-blue-300" })
            @Html.ValidationMessageFor(model => model.DeviceName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mx-auto">
        <label class="control-label block text-gray-700 text-lg font-bold mb-2"> Device Serial No</label>
        <div class="mb-6 mx-auto">
            @Html.EditorFor(model => model.DeviceSerialNo, new { htmlAttributes = new { @class = "w-full max-w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight  focus:bg-white focus:shadow-outline focus:border-blue-300" } })
            @Html.ValidationMessageFor(model => model.DeviceSerialNo, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mx-auto">
        <label class="control-label block text-gray-700 text-lg font-bold mb-2"> Device Type</label>
        <div class="mb-6 mx-auto">
            @Html.DropDownListFor(model => model.DeviceType, new List<SelectListItem>
            {
               new SelectListItem { Text = "Physical", Value = "Physical", Selected=true},
               new SelectListItem { Text = "Virtual", Value = "Virtual"}
            }, new { @class = "w-full max-w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight  focus:bg-white focus:shadow-outline focus:border-blue-300" })
            @Html.ValidationMessageFor(model => model.DeviceType, "", new { @class = "text-danger" })
        </div>
    </div>


    <div class="form-group mx-auto">
        <label class="control-label block text-gray-700 text-lg font-bold mb-2"> Start Date</label>
        <div class="mb-6 mx-auto">
            @Html.EditorFor(model => model.BookingDate, new { htmlAttributes = new { @class = "w-full max-w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight  focus:bg-white focus:shadow-outline focus:border-blue-300" } })
            @Html.ValidationMessageFor(model => model.BookingDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mx-auto">
        <label class="control-label block text-gray-700 text-lg font-bold mb-2"> End Date</label>
        <div class="mb-6 mx-auto">
            @Html.EditorFor(model => model.BookingEndDate, new { htmlAttributes = new { @class = "w-full max-w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight  focus:bg-white focus:shadow-outline focus:border-blue-300" } })
            @Html.ValidationMessageFor(model => model.BookingEndDate, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group mx-auto">
        <label class="control-label block text-gray-700 text-lg font-bold mb-2"> Purpose of Booking</label>
        <div class="mb-6 mx-auto">
            @Html.EditorFor(model => model.BookingPurpose, new { htmlAttributes = new { @class = "w-full max-w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight  focus:bg-white focus:shadow-outline focus:border-blue-300" } })
            @Html.ValidationMessageFor(model => model.BookingPurpose, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="mx-auto">
            <input type="submit" value="Book Device" class="btn btn-primary w-full max-w-full" />
        </div>
    </div>
</div>
}