@model IEnumerable<DexterLab.Models.ViewModels.GenericBookingVM>

@{
    ViewBag.Title = "Index";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <center>
        <input id ="StartDate" class="form-control col-md-6" type="date" name="startDate" value="@DateTime.Today.Date.ToString()" />
        <br />
        <input class="btn btn-primary form-control col-md-2" type="submit" name="submit" value="Search" />
    </center>

}

<br />
<center>
    @if (!(Model.Any()))
    {
        for (int x = 1; x <= 10; x++)
        {
            <div class="container border border-dark-50">
                <div class="row">
                    <br />
                    <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                        Panel @x - Not Booked
                    </div>
                    <br />
                    &nbsp;
                    <br />
                    <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                        Panel @(x + 10) - Not Booked
                    </div>
                    <br />
                    &nbsp;
                    <br />
                    <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                        Panel @(x + 20) - Not Booked
                    </div>
                    <br />
                </div>
            </div>
        }
    }

    else
    {
        Dictionary<int, bool> data = new Dictionary<int, bool>();
        foreach (var item in Model)
        {
            if (item.PanelStart.Equals(item.PanelEnd))
            {
                data.Add(item.PanelStart, item.ServerInstalled);
            }
            else
            {
                data.Add(item.PanelStart, item.ServerInstalled);
                data.Add(item.PanelEnd, item.ServerInstalled);
            }
        }

        for (int x = 1; x <= 10; x++)
        {
            <div class="container border border-dark-50 ">
                <div class="row">
                    @if (data.ContainsKey(x) && data[x].Equals(true))
                    {
                        <br />
                        <div class=" card card-columns col-sm col-md text-center bg-success border border-success-50 justify-content-center">
                            Panel @x - Booked w/ Server Installed
                        </div>
                        <br />
                    }
                    else if (data.ContainsKey(x) && data[x].Equals(false))
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-warning border border-warning-50 justify-content-center">
                            Panel @x - Booked w/ Server Not Installed
                        </div>
                        <br />
                    }
                    else
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                            Panel @x - Not Booked
                        </div>
                        <br />
                    }

                    &nbsp;

                    @if (data.ContainsKey(x + 10) && data[x + 10].Equals(true))
                    {
                        <br />
                        <div class=" card card-columns col-sm col-md text-center bg-success border border-success-50 justify-content-center">
                            Panel @(x + 10) - Booked w/ Server Installed
                        </div>
                        <br />
                    }
                    else if (data.ContainsKey(x + 10) && data[x + 10].Equals(false))
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-warning border border-warning-50 justify-content-center">
                            Panel @(x + 10) - Booked w/ Server Not Installed
                        </div>
                        <br />
                    }
                    else
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                            Panel @(x + 10) - Not Booked
                        </div>
                        <br />
                    }

                    &nbsp;

                    @if (data.ContainsKey(x + 20) && data[x + 20].Equals(true))
                    {
                        <br />
                        <div class=" card card-columns col-sm col-md text-center bg-success border border-success-50 justify-content-center">
                            Panel @(x + 20) - Booked w/ Server Installed
                        </div>
                        <br />
                    }
                    else if (data.ContainsKey(x + 20) && data[x + 20].Equals(false))
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-warning border border-warning-50 justify-content-center">
                            Panel @(x + 20) - Booked w/ Server Not Installed
                        </div>
                        <br />
                    }
                    else
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                            Panel @(x + 20) - Not Booked
                        </div>
                        <br />

                    }
                </div>
            </div>

        }
    }
</center>
