@model IEnumerable<DexterLab.Models.ViewModels.GenericBookingVM>

@{
    ViewBag.Title = "Home Page";
}

@if (TempData["Success"] != null)
{
    <div class="alert alert-success">
        @TempData["Success"]
    </div>
}
@if (TempData["Failure"] != null)
{
    <div class="alert alert-danger">
        @TempData["Failure"]
    </div>
}

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <center class="form-horizontal mx-auto w-full max-w-full sm:max-w-screen-xs  md:max-w-screen-xs lg:max-w-screen-md lg:mt-5 w-full max-w-full">
        <input id="StartDate" class="w-full max-w-full shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight  focus:bg-white focus:shadow-outline focus:border-blue-300" type="date" name="startDate" />
        <br />
        <input class="btn btn-primary btn-sm-lg form-control w-full max-w-full mt-3" type="submit" name="submit" value="Search" />
    </center>

}

<br />
@if (TempData["date"] != null)
{
    <h5 class="text-center block text-gray-700 font-bold mb-2">@TempData["date"]</h5>
}
<center>
    @if (!(Model.Any()))
    {

        for (int x = 1; x <= 10; x++)
        {
            <div class="container border border-dark-50 invisible sm:invisible md:visible lg:visible xl:visible">
                <div class="row">
                    <br />
                    <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                        <b>Panel @x - Not Booked</b>
                    </div>
                    <br />
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <br />
                    <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                        <b>Panel @(x + 10) - Not Booked</b>
                    </div>
                    <br />
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <br />
                    <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                        <b>Panel @(x + 20) - Not Booked</b>
                    </div>
                    <br />
                </div>
            </div>
        }

        for (int x = 1; x <= 30; x++)
        {
            <div class="container border border-dark-50 visible sm:visible md:invisible lg:invisible xl:invisible">
                <div class="row">
                    <br />
                    <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                        <b>Panel @x - Not Booked</b>
                    </div>
                    <br />
                </div>
            </div>
        }
    }

    else
    {
        Dictionary<int, bool> data = new Dictionary<int, bool>();
        foreach (var item in Model)
        {
            if (item.PanelStart.Equals(item.PanelEnd) && (!item.PanelStart.Equals(0)) && (!item.PanelEnd.Equals(0)))
            {
                data.Add(item.PanelStart, item.ServerInstalled);
            }
            else if ((!item.PanelStart.Equals(item.PanelEnd)) && (!item.PanelStart.Equals(0)) && (!item.PanelEnd.Equals(0)))
            {
                data.Add(item.PanelStart, item.ServerInstalled);
                data.Add(item.PanelEnd, item.ServerInstalled);
            }
        }

        for (int x = 1; x <= 10; x++)
        {
            <div class="container border border-dark-50 hidden sm:hidden md:block lg:block xl:block">
                <div class="row">
                    @if (data.ContainsKey(x) && data[x].Equals(true))
                    {
                        <br />
                        <div class=" card card-columns col-sm col-md text-center bg-success border border-success-50 justify-content-center">
                            <b class="text-white">Panel @x - Booked [Server Installed]</b>
                        </div>
                        <br />
                    }
                    else if (data.ContainsKey(x) && data[x].Equals(false))
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-warning border border-warning-50 justify-content-center">
                            <b class="text-white">Panel @x - Booked [Server Not Installed]</b>
                        </div>
                        <br />
                    }
                    else
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                            <b>Panel @x - Not Booked</b>
                        </div>
                        <br />
                    }

                    &nbsp;
                    &nbsp;
                    &nbsp;

                    @if (data.ContainsKey(x + 10) && data[x + 10].Equals(true))
                    {
                        <br />
                        <div class=" card card-columns col-sm col-md text-center bg-success border border-success-50 justify-content-center">
                            <b class="text-white">Panel @(x + 10) - Booked [Server Installed]</b>
                        </div>
                        <br />
                    }
                    else if (data.ContainsKey(x + 10) && data[x + 10].Equals(false))
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-warning border border-warning-50 justify-content-center">
                            <b class="text-white">Panel @(x + 10) - [Server Not Installed]</b>
                        </div>
                        <br />
                    }
                    else
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                            <b>Panel @(x + 10) - Not Booked</b>
                        </div>
                        <br />
                    }

                    &nbsp;
                    &nbsp;
                    &nbsp;

                    @if (data.ContainsKey(x + 20) && data[x + 20].Equals(true))
                    {
                        <br />
                        <div class=" card card-columns col-sm col-md text-center bg-success border border-success-50 justify-content-center">
                            <b class="text-white">Panel @(x + 20) - Booked [Server Installed]</b>
                        </div>
                        <br />
                    }
                    else if (data.ContainsKey(x + 20) && data[x + 20].Equals(false))
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-warning border border-warning-50 justify-content-center">
                            <b class="text-white">Panel @(x + 20) - [Server Not Installed]</b>
                        </div>
                        <br />
                    }
                    else
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                            <b>Panel @(x + 20) - Not Booked</b>
                        </div>
                        <br />

                    }
                </div>
            </div>

        }

        for (int x = 1; x <= 30; x++)
        {
            <div class="container border border-dark-50 block sm:block md:hidden lg:hidden xl:hidden">
                <div class="row">
                    @if (data.ContainsKey(x) && data[x].Equals(true))
                    {
                        <br />
                        <div class=" card card-columns col-sm col-md text-center bg-success border border-success-50 justify-content-center py-2">
                            <b class="text-white">Panel @x - Booked [Server Installed]</b>
                        </div>
                        <br />
                    }
                    else if (data.ContainsKey(x) && data[x].Equals(false))
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-warning border border-warning-50 justify-content-center py-2">
                            <b class="text-white">Panel @x - Booked [Server Not Installed]</b>
                        </div>
                        <br />
                    }
                    else
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center py-2">
                            <b>Panel @x - Not Booked</b>
                        </div>
                        <br />
                    }
                </div>
            </div>

        }
    }
</center>
