@model IEnumerable<DexterLab.Models.ViewModels.GenericBookingVM>

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Get))
{
    <center>
        <input id="StartDate" class="form-control col-md-6" type="date" name="startDate"/>
        <br />
        <input class="btn btn-primary btn-sm-lg form-control col-md-2 mt-n3" type="submit" name="submit" value="Search" />
    </center>

}

<br />
@if (TempData["date"] != null)
    {
        <h5 class="text-center font-weight-bold mt-n1">@TempData["date"]</h5>
    }
<center>
    @if (!(Model.Any()))
    {

        for (int x = 1; x <= 10; x++)
        {
            <div class="container border border-dark-50">
                <div class="row">
                    <br />
                    <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                        <b>Panel @x - Not Booked</b>
                    </div>
                    <br />
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <br />
                    <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                        <b>Panel @(x + 10) - Not Booked</b>
                    </div>
                    <br />
                    &nbsp;
                    &nbsp;
                    &nbsp;
                    <br />
                    <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                        <b>Panel @(x + 20) - Not Booked</b>
                    </div>
                    <br />
                </div>
            </div>
        }
    }

    else
    {
        Dictionary<int, bool> data = new Dictionary<int, bool>();
        foreach (var item in Model)
        {
            if (item.PanelStart.Equals(item.PanelEnd))
            {
                data.Add(item.PanelStart, item.ServerInstalled);
            }
            else
            {
                data.Add(item.PanelStart, item.ServerInstalled);
                data.Add(item.PanelEnd, item.ServerInstalled);
            }
        }

        for (int x = 1; x <= 10; x++)
        {
            <div class="container border border-dark-50 ">
                <div class="row">
                    @if (data.ContainsKey(x) && data[x].Equals(true))
                    {
                        <br />
                        <div class=" card card-columns col-sm col-md text-center bg-success border border-success-50 justify-content-center">
                            <b class="text-white">Panel @x - Booked [Server Installed]</b>
                        </div>
                        <br />
                    }
                    else if (data.ContainsKey(x) && data[x].Equals(false))
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-warning border border-warning-50 justify-content-center">
                            <b class="text-white">Panel @x - Booked [Server Not Installed]</b>
                        </div>
                        <br />
                    }
                    else
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                            <b>Panel @x - Not Booked</b>
                        </div>
                        <br />
                    }

                    &nbsp;
                    &nbsp;
                    &nbsp;

                    @if (data.ContainsKey(x + 10) && data[x + 10].Equals(true))
                    {
                        <br />
                        <div class=" card card-columns col-sm col-md text-center bg-success border border-success-50 justify-content-center">
                            <b class="text-white">Panel @(x + 10) - Booked [Server Installed]</b>
                        </div>
                        <br />
                    }
                    else if (data.ContainsKey(x + 10) && data[x + 10].Equals(false))
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-warning border border-warning-50 justify-content-center">
                            <b class="text-white">Panel @(x + 10) - [Server Not Installed]</b>
                        </div>
                        <br />
                    }
                    else
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                            <b>Panel @(x + 10) - Not Booked</b>
                        </div>
                        <br />
                    }

                    &nbsp;
                    &nbsp;
                    &nbsp;

                    @if (data.ContainsKey(x + 20) && data[x + 20].Equals(true))
                    {
                        <br />
                        <div class=" card card-columns col-sm col-md text-center bg-success border border-success-50 justify-content-center">
                            <b class="text-white">Panel @(x + 20) - Booked [Server Installed]</b>
                        </div>
                        <br />
                    }
                    else if (data.ContainsKey(x + 20) && data[x + 20].Equals(false))
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-warning border border-warning-50 justify-content-center">
                            <b class="text-white">Panel @(x + 20) - [Server Not Installed]</b>
                        </div>
                        <br />
                    }
                    else
                    {
                        <br />
                        <div class="card card-columns col-sm col-md text-center bg-light border border-dark-50 justify-content-center">
                            <b>Panel @(x + 20) - Not Booked</b>
                        </div>
                        <br />

                    }
                </div>
            </div>

        }
    }
</center>
